<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito {{cart._id}}</title>
</head>
<body>
  <h1>Carrito de Compras</h1>
  <ul>
    {{#each cart.products}}
    <li>
      {{this.productId.name}} - {{this.quantity}}
    </li>
    {{/each}}
  </ul>
</body>
</html>
